/*Body*/
body{
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/stock_bg_image.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Comic Sans MS;
	width: 600px;
	height:600px;
}

/*Table*/
table{
	border: 1px solid black; 
    width:1180px;
    background: rgba(255,255,255,0.10);
   
}

td{ 
	height:40px;
	width: 300px;
	text-align: center;
 }

/*form*/
input.no-outline {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        background:transparent; 
        border-bottom-style: groove;
        outline: none;
        font-size: 15px;
}

input.bb{
	border: none;
	outline: none;
	height: 40px;
	background: #697d96;
	color: #ffffff;
	font-size: 18px;
	border-radius: 20px;
	margin-bottom: 0;
	width: 200px;
}

input.bb:hover{
	cursor: pointer;
	background: #000000;
	color: #ffffff;
}
input.btnC{
	border: none;
	outline: none;
	height: 40px;
	background: #0000ff;
	color: #ffffff;
	font-size: 18px;
	border-radius: 20px;
	margin: 5px 0px;
	width: 200px;
}

input.btnC:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000000;
}
input.btn{
	border: none;
	outline: none;
	height: 40px;
	background: #0000ff;
	color: #ffffff;
	font-size: 18px;
	border-radius: 20px;
	margin: 20px 20px;
	width: 200px;
}

input.btn:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000000;
}

/*Tabs*/
.mytabs{
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 10px;
	float: left;
	transition: 1.0s;
}

.mytabs input[type="radio"]{
	display: none;
}

.mytabs label{
	padding: 10px;
	background: gray;
	font-weight: bold;
}
.mytabs .tab{
	width: 1190px;
	padding: 20px;
	background: rgba(255,255,255,0.5);
	order: 1;
	display: none;
}

.mytabs label:hover{
	cursor: pointer;
	background: #ffffff;

}

.mytabs input[type="radio"]:checked + label + .tab{
	display: block;
}

.mytabs input[type="radio"]:checked + label{
	background: ghostwhite;
}

/*----Footer----*/
footer{
  background: #1a1a1a;
  color: #ffffff; 
  position: fixed;
  height: 50;
  width: 100%;
  font-size: 0.8em;
  bottom: 0;
}

/*----Date and Time----*/
div.c{
    padding:0;
    margin:0;
    float: right;
    line-height:0;
}

